.success,
.failed {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: var(--them);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #0000002d;
}
.success {
    background-color: #004d40;
    color: white;
}

.failed {
    background-color: #dd2c00;
    color: white;
}

.visable {
    animation: fadeInSlideDown 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.unvisable {
    animation: fadeOut 0.5s cubic-bezier(0.55, 0, 0.1, 1) 2.5s forwards;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
