.container {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.container img {
    border-radius: 50%;
}

.username {
    font-weight: 900;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
