.btn {
    background-color: transparent;
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    font-size: 1rem;
    color: var(--foreground);
    opacity: 0.5;
}

.btn span {
    margin: 0 6px;
}

.liked {
    color: var(--them);
    opacity: 1;
}
