.editForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}
.editForm div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.editForm button {
    padding: 10px;
    border-radius: 10px;
    color: #ffff;
    background-color: var(--them);
    font-weight: 900;
    margin-top: 30px;
    border: none;
    outline: none;
}
