.header {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 1;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}
.notifCounter {
    min-width: 16px;
    height: 16px;
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-shadow: 0 0 5px #000;
}

.stories {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    direction: ltr;
    padding-left: 20px;
    margin-bottom: 20px;
}

.stories::-webkit-scrollbar {
    display: none;
}

.stories::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
}

.myStory {
    position: relative;
    display: inline-block;
}

.myStory span {
    font-size: 1.6rem;
    position: absolute;
    bottom: 10px;
    right: 0;
    color: var(--them);
    background-color: #141416;
    border-radius: 50%;
}

.stories a {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.stories p {
    font-size: 0.8rem;
}

.stories a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.stories .pending img {
    border: 5px solid var(--background);
    outline: 1px solid var(--them);
}

@media (min-width: 800px) {
    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        direction: ltr;
    }
}
