.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    flex-direction: column;
    gap: 30px;
}

.container div {
    width: 100%;
    max-width: 300px;
    /* text-align: center; */
}
.container div p {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.container div span {
    opacity: 0.5;
    font-size: 0.8rem;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 300px;
}

.container button {
    background-color: var(--them);
    color: #fff;
    font-weight: 900;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.container a {
    opacity: 0.6;
    text-align: center;
}
