.container {
    display: flex;
    flex-direction: column;
}

.profileImage {
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: 410px;
    margin: 0 auto;
}

.profileImage img {
    object-fit: cover;
}

.profileInfo {
    width: 90%;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 10px;
    border-radius: 16px;
    font-weight: 900;
}
.profileInfo div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.controls {
    direction: ltr;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 16px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls > * {
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--foreground);
}
.controls p {
    font-size: 1.1rem;
    font-weight: 900;
}

.personamInfo {
    padding: 10px 20px;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.followAndMessageSession {
    display: flex;
    align-items: center;
    gap: 10px;
    direction: ltr;
    margin-top: 10px;
}
.followAndMessageSession button {
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    color: var(--foreground);
    border-radius: 10px;
}
.followAndMessageSession button:first-child {
    background-color: var(--them);
    font-weight: 900;
}
.followAndMessageSession button:last-child {
    border: 1px solid var(--them);
    font-weight: 900;
    color: var(--them);
}

.shareNewPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 50px;
}
.shareNewPost p {
    font-size: 1.1rem;
    font-weight: 600;
}
.shareNewPost a {
    color: var(--them);
}

@media (min-width: 800px) {
    .profileImage {
        width: 500px;
    }

    .container {
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.editUserPage {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    color: var(--them);
    border-bottom: 1px solid var(--border);
    padding: 10px;
}

/* settings */
.settingContainer > * {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--foreground);
    font-size: 1rem;
    border-bottom: 1px solid var(--border);
}

.settingContainer > *:first-child {
    margin-top: 10px;
}
.settingContainer > *:last-child {
    border: none;
}
.logoutBtn {
    color: #f72b2a;
}
