.profileImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 410px;
    margin: 0 auto;
}

.profileImage img {
    object-fit: cover;
}

.profileInfo {
    width: 90%;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 10px;
    border-radius: 16px;
    font-weight: 900;
}
.profileInfo div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.controls {
    direction: ltr;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 16px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls > * {
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--foreground);
}
.controls p {
    font-size: 1.1rem;
    font-weight: 900;
}

.personamInfo {
    padding: 10px 20px;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shareNewPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 50px;
}
.shareNewPost p {
    font-size: 1.1rem;
    font-weight: 600;
}
.shareNewPost a {
    color: var(--them);
}
