:root {
    --background: #ffffff;
    --foreground: #171717;
    --border: #e3e3e3;
    --them: #1e65ff;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    border: 1px solid var(--border);
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

.invalidInp:focus {
    transition: all 0.3s;
    background-color: #ff00000c;
    color: red;
    border-color: red;
}
.validInp:focus {
    transition: all 0.3s;
    color: green;
    background-color: #0080000a;
    border-color: green;
}
.validInp:focus::placeholder {
    color: green;
}
.invalidInp:focus::placeholder {
    color: red;
}
